body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; /* Center the title */
    font-family: 'Ubuntu', sans-serif; /* Apply the imported font */
    
}

nav {
    display: flex;
    justify-content: center; /* Center the title */
    align-items: center;
}

nav h1 {
    font-size: 24px;
    margin: 0; /* Remove the default margin */
}

main {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.gallery-item {
    border-radius: 5px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
