/* Add some basic styling for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}


header h1 {
    font-size: 24px; /* Adjust the font size as needed */
}

/* Style the links in the header */
header a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

/* Style the main section with a background image */
.main-section {
    background-image: url('images/arch.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    .main-section {
        background-size: cover;
    }
}
/* Add some basic styling for the main content */
.main-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

/* Style the footer links */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Style the image gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery img {
    margin: 10px;
    max-width: 100%;
    max-height: 300px;
    height: auto;
    transition: transform 0.3s;
    cursor: pointer;
}

.image-gallery img:hover {
    transform: scale(1.1);
}
